 {# {% if page.footer %} #}
  <footer class="main-footer" role="contentinfo">
     <div class="container">
        <h3>This is custom footer text</h3>
        {{ page.footer }}
      </div>
  </footer>
  {# {% endif %} #}