html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

/* float clearing for IE6 */
* html .clearfix {
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix {
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.clr {
  clear: both;
}


body {
  -webkit-font-smoothing: antialiased;
  /* background-color: lightgreen; */
}

/* STYLE */
.container {
  width: 1100px;
  margin: 0 100px;
}

/* _header.scss */
.main-header {
  height: 300px;
  background: url(../images/hero.jpg) no-repeat center center;
}

.logo {
  width: 200px;
}

.logo img {
  margin-top: 15px;
  max-width: 100%;
}

/*_header.scss  style for main-navigation region */
.main-navigation {
  text-align: right;
  /* width: 500px; */
  margin-top: 15px;
  margin-left: 600px;
}


.main-navigation ul {
  list-style-type: none;
  font-size: 1.4rem;
}

.main-navigation li {
  float: left;
  /* added for submenu */
  position: relative;
}

/* main nav first level */
.main-navigation li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0 10px;

}

.main-navigation li a:hover {
  text-decoration: none;
  color: white;

}


/* added style for submenu */
.main-navigation ul ul {
  display: none;
  /* add for submenu */
  position: absolute;
  width: 200px;
  background: #fff;
}

/* add for submenu */
.main-navigation ul ul li {
  float: none;

}

/* add for submenu */
.main-navigation ul ul li a {
  color: rgb(75, 146, 170);
  padding: 5px;
  display: block;
  border-bottom: 1px solid #efefef;
}

/* add for submenu */
.main-navigation ul ul li a:hover {
  text-decoration: none;
  background: rgb(82, 162, 189);
  color: white;
}





/* end for _header.scss */

/* _homepage.scss  */
.article-list h3 a {
  color: darkgray;
  text-decoration: none;
}

.article-list p {
  line-height: 1.5;
}

.article-list .views-row {
  margin: 40px 0;
}

.article-list .views-field-view-node a {
  /* color: red; */
  text-decoration: none;
}

/* end _homepage.scss  */

/* _globals.scss  */
.director strong,
.actors strong {
  font-weight: bold;
  font-size: 24px;
  color: green;
}

.description {
  background-color: lightgray;
  padding: 20px;

}

.premiere-content {
  padding: 10px;
  background-color: lightskyblue;
}

.actor-content {
  padding: 15px;
  background-color: rgb(138, 197, 60);
}


/* _footer.scss style */
.main-footer {
  background: rgb(71, 82, 82);
  padding: 40px 0;
  margin-top: 60px;
  color: white;
}

.footer-info {
  text-align: center;
  color: rgb(138, 197, 60);

}
